/*general*/
body {
font-family: 'PT Sans', sans-serif;
font-size: 16px;
}

h1, h2, h3, h4, h5 {
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
	color: #000000;
	margin-top: 8px;
}

li.active a {
	background: none !important;
}

a:focus, a:hover {
    color: #CECECE;
    text-decoration: none;
    }

section {
  overflow: hidden;
  margin-bottom: 3rem;
}

.navbar-header button {
	background-color: #222222;
}

.alert-danger, .navbar-default {
	background-color: transparent!important;
	border: 0!important;
}

.well, .alert {
	margin-bottom: 0;
	}
	.well {
	border: 0;
	}
	.well-sm {
	border-radius: 0;	
	}

.center {
	margin: 0 auto;
}

.bottom {
	margin: 3rem 0;
}

.pie {
	padding: 2rem;
	}
	.pie-sedesol {
		font-size: 24px;
	}

h2.title {
	margin-top: 0;
	text-transform: uppercase;
	font-size: 44px;
}

article a {
	display: flex;
}

.note {
	padding: 2rem;
	text-transform: uppercase;
}

.bg-body {
	background: url(../../assets/img/bg-body.png) repeat;
}


@media (max-width:667px){
  h2.title {
    font-size: 38px;
  }
}



@media (max-width:768px){
	.note {
	display: block;
    margin-bottom: 0.5rem;
	}
	.mobile {
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
	}
.close {
	padding: 0.4rem 1rem !important;
}

}

@media (min-width:1200px){
	.container-fluid { 
		width:1142px;
	}
}